body {
  background-image: url("../images/bg_main.jpg");
  width: 100%;
  height: 100%;
}

.wrap {
  width: 1540px;
  margin: 0 auto;
  height: 1000px;
}

.wrap .content {
  width: 100%;
}

.wrap .content .left-menu {
  width: 310px;
  background-color: #202020;
}

.wrap .content .left-menu .left-header {
  padding: 28px 0px;
  box-sizing: border-box;
}

.wrap .content .left-menu .left-header .left-header-row {
  margin: 0 auto;
  width: 243px;
  margin-bottom: 12px;
}

.wrap .content .left-menu .left-header .logo {
  margin-bottom: 50px;
}

.wrap .content .left-menu .left-header .login-btn {
  background-color: #c10909;
  color: #fff;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
  display: block;
  padding: 16px 0 16px 0;
  text-align: center;
}

.wrap .content .left-menu .left-header .search-box {
  position: relative;
  background-color: #000000;
  font-weight: bold;
  width: 100%;
  height: 42px;
  font-size: 21px;
  border: solid 1px #404040;
  text-align: left;
  box-sizing: border-box;
}

.wrap .content .left-menu .left-header .search-box input {
  position: absolute;
  background-color: #000000;
  border: none;
  color: #c0c0c0;
  width: 90%;
  left: 10px;
  top: 12px;
  font-size: 12px;
}

.wrap .content .left-menu .left-header .search-box input::placeholder {
  background-color: #000000;
  color: #c0c0c0;
  font-size: 12px;
}
.wrap .content .left-menu .left-header .search-box a {
  position: absolute;
  background-color: #000000;
  width: 10%;
  top: 9px;
  right: 0;
}

.wrap .content .left-menu ul.menu-list {
  width: 100%;
  color: #ffffff;
}

.wrap .content .left-menu ul.menu-list li {
  border-top: solid 2px #6d6d6d;
  padding: 17px 20px;
  box-sizing: border-box;
}

.wrap .content .left-menu ul.menu-list li p::after {
  content: "";
  width: 10px;
  height: 10px;
  border: solid 1px #ec821d;
  display: inline-block;
}

.wrap .content .left-menu ul.menu-list .menu-tit {
  font-size: 18px;
}

.wrap .content .left-menu ul.menu-list li .post-count {
  color: #ec821d;
}
